<p id="notice"><%= notice %></p>

<p>
  <strong>Resource type:</strong>
  <%= @hook.resource_type %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @hook.actions %>
</p>

<%= link_to 'Edit', edit_hook_path(@hook) %> |
<%= link_to 'Back', hooks_path %>
